.app {
  padding: 10px;
  height: 90vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 8px;
  max-width: 400px;
  margin: auto;
}

.todo {
  font-family: "Montserrat", serif;
  color: #5e5e5e;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 14px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-word ;
}

.check {
  font-size: 17px;
  cursor: pointer;
}

.todoInput {
  font-family: "Montserrat", serif;
  color: #5e5e5e;
  font-size: 24px;
  border: none;
  padding: 0;
  width: 95%;
}

input:focus {
  outline: none;
}

::placeholder {
  font-family: "Montserrat", serif;
  color: #00000051;
}

.heading {
  font-family: "Montserrat", serif;
  font-size: 40px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px #00000033;
  margin-top: 10px;
  margin-bottom: 10px;
}

.credits {
  margin-top: 0px;
  text-decoration: underline;
  color: white;
  text-align: center;
}
